@model HotelReservation.Models.Usuario
@{
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
    ViewData["Title"] = "Usuario";
}
<div class="">
    <form asp-action="RegistroUsuario" enctype="multipart/form-data" >
            <div asp-asp-validation-summary="ModelOnly" class="txt-danger"></div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasena" class="control-label"></label>
                <input asp-for="Contrasena" class="form-control" />
                <span asp-validation-for="Contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IMGarchivo" class="control-label" enctype="multipart/form-data"></label>
                <input asp-for="IMGarchivo" class="form-control" onchange="previewImage(this)" type="file" accept="image/*" />
            </div>
            <div class="form-group">
                <input  asp-for="ReservaExitosa" value="0" />
            </div>
            <div class="form-group">
                <input  asp-for="Idpersona" value="@GlobalVariables.posiblePersona.Id" />
            </div>
            <div class="form-group">
                <input  asp-for="Idrol" value="2" />
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
    </form>
</div>