@model HotelReservation.Models.PromocionReserva

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>detalles</h1>

<div>
    <h4>PromocionReserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Promocion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Promocion.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reserva.FechaIn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary">Editar</a> |
    <a asp-action="Index" class="btn btn-info">Regresar</a>
</div>
