
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="mb-3">
                <h5 class="card-title">Comentarios destacados <span class="text-muted fw-normal ms-2">(6)</span></h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    
                    <div class="d-flex align-items-center">
                        <div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuYU-pQvedKSdGsQx1Yjz0fbjJbkuuuap5QFKKmsMD4He6DY03nOC_R2x2Wgj_7W7hrjs&usqp=CAU" alt="" class="avatar-md rounded-circle img-thumbnail" /></div>
                        <div class="flex-1 ms-3">
                            <h5 class="font-size-16 mb-1"><a href="#" class="text-dark">Abduzcan</a></h5>
                        </div>
                    </div>
                    <div class="mt-3 pt-1">
                        <p>
                            albion online es un mmorpg no lineal en el que escribes tu propia historia sin limitarte a seguir un camino prefijado, explora un amplio mundo abierto con cinco biomas unicos, todo cuanto hagas tendra su repercusíon en el mundo, con su economia orientada al jugador de albion los jugadores...
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div><img src="https://pm1.narvii.com/6199/0833485b6c92e7ea232c511e919d738a0e7cfb59_hq.jpg" alt="" class="avatar-md rounded-circle img-thumbnail" /></div>
                        <div class="flex-1 ms-3">
                            <h5 class="font-size-16 mb-1"><a href="#" class="text-dark">Severus Snape</a></h5>
                        </div>
                    </div>
                    <div class="mt-3 pt-1">
                       <p>
                            Dado que habrá muy poco de tontos movimientos de varita aquí, muchos de ustedes van a dudar de que esto sea magia. No espero que realmente entiendan la belleza de un caldero hirviendo suavemente, con sus vapores brillantes, el delicado poder de los líquidos que se deslizan a través de las venas humanas, hechizando la mente, engañando los sentidos… Puedo enseñarles cómo embotellar la fama, preparar la gloria, ¡hasta ponerle un alto a la muerte!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div><img src="https://es.web.img2.acsta.net/pictures/17/02/08/16/50/452749.jpg" alt="" class="avatar-md rounded-circle img-thumbnail" /></div>
                        <div class="flex-1 ms-3">
                            <h5 class="font-size-16 mb-1"><a href="#" class="text-dark">Will Smith</a></h5>
                        </div>
                    </div>
                    <div class="mt-3 pt-1">
                        <p>
                            Oye! Oye! ¿qué haces aquí fred? ¿Qué... qué rayos estás...? ¡no, no!... ¡no, no!. ¡No! ¿Qué rayos haces aquí Fred? ¿Cómo llegaste hasta aquí? ¡Fred, si eres Real mejor dímelo ahora!, ¡si eres real dímelo ahora!. ¡Maldicion Fred, maldito!.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div><img src="https://m.media-amazon.com/images/M/MV5BMTQ5MzkzNTIyN15BMl5BanBnXkFtZTYwNzUzOTA2._V1_FMjpg_UX1000_.jpg" alt="" class="avatar-md rounded-circle img-thumbnail" /></div>
                        <div class="flex-1 ms-3">
                            <h5 class="font-size-16 mb-1"><a href="#" class="text-dark">John Cena</a></h5>
                        </div>
                    </div>
                    <div class="mt-3 pt-1">
                       <p>
                            Kakarotto tu eres un guerrero admirable me acabo de dar cuenta de que yo no sirvo para pelear con Majin Boo tu eres el único que puede derrotarlo. Kakarotto la primera vez que te vi estaba en busca de planetas con un excelente ambiente para después venderlos(recuerda como Goku lo derroto). Solamente vivía para cumplír mi objetivo ~superar los poderes de Kakarotto
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div><img src="https://i.pinimg.com/originals/c7/73/f4/c773f4d77f6088a92d4ac01b94b8296d.jpg" alt="" class="avatar-md rounded-circle img-thumbnail" /></div>
                        <div class="flex-1 ms-3">
                            <h5 class="font-size-16 mb-1"><a href="#" class="text-dark">Bender</a></h5>
                        </div>
                    </div>
                    <div class="mt-3 pt-1">
                       <p>
                            ¡Qué horrible pesadilla! ¡Unos y ceros por todas partes! Hasta me pareció ver un 2.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div><img src="https://pbs.twimg.com/media/EdaOgFlWoAArzqF.jpg" alt="" class="avatar-md rounded-circle img-thumbnail" /></div>
                        <div class="flex-1 ms-3">
                            <h5 class="font-size-16 mb-1"><a href="#" class="text-dark">Tommy Hayes</a></h5>
                        </div>
                    </div>
                    <div class="mt-3 pt-1">
                       <p>
                           Escúchame, weon. He tenido el peor día de mi vida, weon.
                           Fui al cine y no había nada que ver en el cine, y solamente había para ver Rápidos y Furiosos 6. Weon, WEON, y hay una escena... ESCÚCHAME. NO. Hay una escena en la que Vin Diesel está en su carro, en un puente...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    /*body {
        margin-top: 20px;
        background-color: #eee;
    }*/

    .card {
        margin-bottom: 24px;
        box-shadow: 0 2px 3px #e4e8f0;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #eff0f2;
        border-radius: 1rem;
    }
    img{
        object-fit:cover;
    }
    .avatar-md {
        height: 4rem;
        width: 4rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .img-thumbnail {
        padding: 0.25rem;
        background-color: #f1f3f7;
        border: 1px solid #eff0f2;
        border-radius: 0.75rem;
    }

    .avatar-title {
        align-items: center;
        background-color: #3b76e1;
        color: #fff;
        display: flex;
        font-weight: 500;
        height: 100%;
        justify-content: center;
        width: 100%;
    }

    .bg-soft-primary {
        background-color: rgba(59,118,225,.25) !important;
    }

    a {
        text-decoration: none !important;
    }

    .badge-soft-danger {
        color: #f56e6e !important;
        background-color: rgba(245,110,110,.1);
    }

    .badge-soft-success {
        color: #63ad6f !important;
        background-color: rgba(99,173,111,.1);
    }

    .mb-0 {
        margin-bottom: 0 !important;
    }

    .badge {
        display: inline-block;
        padding: 0.25em 0.6em;
        font-size: 75%;
        font-weight: 500;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.75rem;
    }
    </style>

