*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-register{
    height: 100vh;
}


.im-cont-png{
    height: 100vh;
    background-color: #302b63;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}