@model HotelReservation.Models.Usuario
@{
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
    ViewData["Title"] = "Create";
}
<div class="">
    <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasena" class="control-label"></label>
                <input asp-for="Contrasena" class="form-control" />
                <span asp-validation-for="Contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Iniciar sesión" class="btn btn-primary" />
            </div>
    </form>
    <a class="btn btn-secondary" asp-area="" asp-controller="Registro" asp-action="Index" >Registrar</a>
</div>